<?xml version="1.0"?>
<!--
	Younify Koopzeker

	LICENSE

	All material in this file is, unless otherwise stated, the property of
	Younify B.V. Copyright and other intellectual property laws protect
	these materials. Reproduction or retransmission of the materials, in whole
	or in part, in any manner, without the prior written consent of the copyright
	holder, is a violation of copyright law.

	@category	Younify
	@package	Younify_Koopzeker
	@copyright	Copyright (c) 2009-2012 Younify B.V (http://younify.nl)
	@author		Sasa Simonovic <sasa.simonovic@younify.nl>
-->

<config>
	<tabs>
		<koopzeker translate="label" module="koopzeker">
			<label>Achmea</label>
			<sort_order>1</sort_order>
		</koopzeker>
	</tabs>
	<sections>
		<koopzeker_conf translate="label">
			<label>Koopzeker</label>
			<tab>koopzeker</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<general translate="label">
					<label>Koopzeker: Systeem Configuratie</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<unique_code translate="label comment">
							<label>Unieke code</label>
							<comment><![CDATA[Unieke code zoals door u ontvangen]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</unique_code>
						<img_width translate="label comment">
							<label>Logo afmetingen</label>
							<comment><![CDATA[Gewenste afmeting logo]]></comment>
							<frontend_type>select</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<source_model>koopzeker/source_width</source_model>
						</img_width>
						<debug translate="label comment">
							<label>Testmode aanzetten</label>
							<comment><![CDATA[Als deze op Ja staat wordt de afbeelding via de testserver opgevraagd]]></comment>
							<frontend_type>select</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<source_model>adminhtml/system_config_source_yesno</source_model>
						</debug>
					</fields>
				</general>
			</groups>
		</koopzeker_conf>
	</sections>
</config>
